.main {
  margin: 0 auto;
  width: 100%;
  max-width: 1120px;
  padding: 0 1rem;
}

.post {
  padding: 2rem 0px;
  & .post_container {
    padding: 3rem 1.5rem;
    border-radius: 1.5rem;
    max-width: 56rem;
    background-color: var(--light-white);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
      rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    margin: 0px auto;

    & article {
      margin: 0px auto;
      max-width: 42rem;

      & .header-post {
        & h1 {
          font-size: 1.875rem;
          line-height: 2.25rem;
          font-weight: 700;
        }
        & nav {
          margin-top: 1.5rem;
          color: rgb(111, 111, 111);

          & .top {
            display: flex;
            margin-bottom: 0.75rem;
            gap: 0.75rem;
            -webkit-box-align: center;
            align-items: center;

            & .autores {
              display: flex;
              gap: 0.5rem;
              -webkit-box-align: center;
              align-items: center;

              & .img-autores {

                display: flex;

                & .img-autor {
                  width: 24px;
                  aspect-ratio: auto 24 / 24;
                  height: 24px;
                  border-radius: 50%;
                }
              }
            }
          }
          & .mid {
            display: flex;
            margin-bottom: 1rem;
            -webkit-box-align: center;
            align-items: center;

            & .tags {
              display: flex;
              overflow-x: auto;
              flex-wrap: nowrap;
              gap: 0.5rem;
              max-width: 100%;

              & .tag {
                padding-top: 0.25rem;
                padding-bottom: 0.25rem;
                padding-left: 0.5rem;
                padding-right: 0.5rem;
                border-radius: 50px;
                font-size: 0.75rem;
                line-height: 1rem;
                font-weight: 400;
                color: hsl(0, 0%, 52.3%);
                background-color: hsl(0, 0%, 90.9%);
                cursor: pointer;
              }
            }
          }

          & .thumnail {
            overflow: hidden;
            position: relative;
            margin-bottom: 1.75rem;
            border-radius: 1.5rem;
            width: 100%;
            background-color: rgb(237, 237, 237);
            padding-bottom: 66%;

            & img {
              position: absolute;
              height: 100%;
              width: 100%;
              inset: 0px;
              color: transparent;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
}
