body {
  margin: 0;
  padding: 0;
  color: hsl(0, 0%, 9%);
  background-color: hsl(0, 0%, 97.3%);
  font-family: "__pretendard_6bb8e5", "__pretendard_Fallback_6bb8e5";
}

* {
  -webkit-print-color-scheme: light;
  color-scheme: light;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: inherit;
  font-style: inherit;
}

a {
  all: unset;
  cursor: pointer;
}

ul {
  padding: 0;
}

button {
  all: unset;
  cursor: pointer;
}

input {
  all: unset;
  box-sizing: border-box;
}

textarea {
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  outline: none;
  resize: none;
  color: inherit;
}

hr {
  width: 100%;
  border: none;
  margin: 0;
  border-top: 1px solid hsl(0, 0%, 88.7%);
}

.css-1ixcgki {
  grid-template-columns: repeat(12, minmax(0, 1fr));
  padding: 2rem 0;
  display: grid;
  gap: 1.5rem;
}

@media (max-width: 768px) {
  .css-1ixcgki {
    display: block;
    padding: 0.5rem 0;
  }
}

.css-1ixcgki > .lt {
  display: none;
  overflow: scroll;
  position: -webkit-sticky;
  position: sticky;
  grid-column: span 2 / span 2;
  top: 63px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.css-1ixcgki > .lt::-webkit-scrollbar {
  display: none;
}

@media (min-width: 1024px) {
  .css-1ixcgki > .lt {
    display: block;
  }
}

.css-1ixcgki > .mid {
  grid-column: span 12 / span 12;
}

@media (min-width: 1024px) {
  .css-1ixcgki > .mid {
    grid-column: span 7 / span 7;
  }
}

.css-1ixcgki > .mid > .tags {
  display: block;
}

@media (min-width: 1024px) {
  .css-1ixcgki > .mid > .tags {
    display: none;
  }
}

.css-1ixcgki > .mid > .footer {
  padding-bottom: 2rem;
}

@media (min-width: 1024px) {
  .css-1ixcgki > .mid > .footer {
    display: none;
  }
}

.css-1ixcgki > .rt {
  scrollbar-width: none;
  -ms-overflow-style: none;
  display: none;
  overflow: scroll;
  position: -webkit-sticky;
  position: sticky;
  top: 63px;
}

.css-1ixcgki > .rt::-webkit-scrollbar {
  display: none;
}

@media (min-width: 1024px) {
  .css-1ixcgki > .rt {
    display: block;
    grid-column: span 3 / span 3;
  }
}

.css-1ixcgki > .rt .footer {
  padding-top: 1rem;
}

.css-bqjc0e {
  height: calc(100vh - 73px);
}
.css-ve59kv .top {
  display: none;
  padding: 0.25rem;
  margin-bottom: 0.75rem;
}

@media (min-width: 1024px) {
  .css-ve59kv .top {
    display: block;
  }
}

.css-ve59kv .list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.5rem;
  gap: 0.25rem;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.css-ve59kv .list::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@media (min-width: 1024px) {
  .css-ve59kv .list {
    display: block;
  }
}

.css-ve59kv .list a {
  display: block;
  padding: 0.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  border-radius: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: hsl(0, 0%, 52.3%);
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  cursor: pointer;
}

.css-ve59kv .list a:hover {
  background-color: hsl(0, 0%, 93%);
}

.css-ve59kv .list a[data-active="true"] {
  color: hsl(0, 0%, 9%);
  background-color: hsl(0, 0%, 93%);
}

.css-ve59kv .list a[data-active="true"]:hover {
  background-color: hsl(0, 0%, 93%);
}

.css-chn8wc {
  font-family: "__Noto_Color_Emoji_ce38d9", "__Noto_Color_Emoji_Fallback_ce38d9";
  font-weight: 400;
  font-style: normal;
}

.css-a2x32k {
  display: block;
}

@media (min-width: 1024px) {
  .css-a2x32k {
    display: none;
  }
}

.css-a2x32k > .top {
  padding: 0.25rem;
  margin-bottom: 0.75rem;
}

.css-a2x32k > .mid {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  background-color: white;
}

.css-a2x32k > .mid > .wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.css-a2x32k > .mid > .wrapper > .wrapper {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.css-a2x32k > .mid > .wrapper > .wrapper > .top {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-style: italic;
  font-weight: 700;
}

.css-a2x32k > .mid > .wrapper > .wrapper > .mid {
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: hsl(0, 0%, 43.5%);
}

.css-a2x32k > .mid > .wrapper > .wrapper > .btm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.css-79elbk {
  position: relative;
}

.css-8wuom6 {
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .css-8wuom6 {
    margin-bottom: 2rem;
  }
}

.css-8wuom6 > .top {
  padding: 0.25rem;
  margin-bottom: 0.75rem;
}

.css-8wuom6 > .mid {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  border-radius: 1rem;
  outline-style: none;
  width: 100%;
  background-color: hsl(0, 0%, 93%);
}

.css-3kdi4r {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid hsl(0, 0%, 88.7%);
}

.css-1q34h4g {
  position: relative;
}

.css-1q34h4g > .wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  gap: 0.25rem;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
  cursor: pointer;
}

.css-1q34h4g > .content {
  position: absolute;
  z-index: 40;
  padding: 0.25rem;
  border-radius: 0.75rem;
  background-color: hsl(0, 0%, 97.3%);
  color: hsl(0, 0%, 52.3%);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.css-1q34h4g > .content > .item {
  padding: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  white-space: nowrap;
  cursor: pointer;
}

.css-1q34h4g > .content > .item:hover {
  background-color: hsl(0, 0%, 93%);
}

.css-6j6lsx {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.css-6j6lsx a {
  cursor: pointer;
  color: hsl(0, 0%, 52.3%);
}

.css-6j6lsx a[data-active="true"] {
  font-weight: 700;
  color: hsl(0, 0%, 9%);
}

.css-z1uebd article {
  overflow: hidden;
  position: relative;
  margin-bottom: 1.5rem;
  border-radius: 1rem;
  background-color: white;
  transition-property: box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

@media (min-width: 768px) {
  .css-z1uebd article {
    margin-bottom: 2rem;
  }
}

.css-z1uebd article:hover {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.css-z1uebd article > .category {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 10;
}

.css-z1uebd article > .thumbnail {
  position: relative;
  width: 100%;
  background-color: hsl(0, 0%, 97.3%);
  padding-bottom: 66%;
}

@media (min-width: 1024px) {
  .css-z1uebd article > .thumbnail {
    padding-bottom: 50%;
  }
}

.css-z1uebd article > .content {
  padding: 1rem;
}

.css-z1uebd article > .content[data-thumb="false"] {
  padding-top: 3.5rem;
}

.css-z1uebd article > .content > .top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .css-z1uebd article > .content > .top {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: baseline;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }
}

.css-z1uebd article > .content > .top h2 {
  margin-bottom: 0.5rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 500;
  cursor: pointer;
}

@media (min-width: 768px) {
  .css-z1uebd article > .content > .top h2 {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

.css-z1uebd article > .content > .date {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
  gap: 0.5rem;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.css-z1uebd article > .content > .date .content {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: hsl(0, 0%, 52.3%);
}

@media (min-width: 768px) {
  .css-z1uebd article > .content > .date .content {
    margin-left: 0;
  }
}

.css-z1uebd article > .content > .summary {
  margin-bottom: 1rem;
}

.css-z1uebd article > .content > .summary p {
  display: none;
  line-height: 2rem;
  color: hsl(0, 0%, 43.5%);
}

@media (min-width: 768px) {
  .css-z1uebd article > .content > .summary p {
    display: block;
  }
}

.css-z1uebd article > .content > .tags {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
}

.css-1upasj9 {
  background-color: rgb(233 213 255);
  cursor: pointer;
}

.css-1r0grb5 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 9999px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 0.875rem;
  line-height: 1.25rem;
  opacity: 0.9;
  color: hsl(0, 0%, 8.5%);
  background-color: rgb(233 213 255);
  cursor: pointer;
}

.css-1phd9a0 {
  object-fit: cover;
}

.css-1hgrxbk {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 50px;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 400;
  color: hsl(0, 0%, 52.3%);
  background-color: hsl(0, 0%, 90.9%);
  cursor: pointer;
}

.css-1k6xwb1 {
  background-color: rgb(186 230 253);
  cursor: pointer;
}

.css-gwndn9 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 9999px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 0.875rem;
  line-height: 1.25rem;
  opacity: 0.9;
  color: hsl(0, 0%, 8.5%);
  background-color: rgb(186 230 253);
  cursor: pointer;
}

.css-ytk16i a {
    margin-top: 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: hsl(0, 0%, 52.3%);
}

.css-1ugwyoo >.title {
    padding: 0.25rem;
    margin-bottom: 0.75rem;
}

.css-1ugwyoo >.content {
    margin-bottom: 2.25rem;
    border-radius: 1rem;
    width: 100%;
    background-color: white;
}

@media (min-width: 768px) {
    .css-1ugwyoo >.content {
        padding:1rem;
    }
}

@media (min-width: 1024px) {
    .css-1ugwyoo >.content {
        padding:1rem;
    }
}

.css-1ugwyoo >.content .top {
    position: relative;
    width: 100%;
}

.css-1ugwyoo >.content .top:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.css-1ugwyoo >.content .mid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0.5rem;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.css-1ugwyoo >.content .mid .name {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-style: italic;
    font-weight: 700;
}

.css-1ugwyoo >.content .mid .role {
    margin-bottom: 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: hsl(0, 0%, 43.5%);
}

.css-1ugwyoo >.content .mid .bio {
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.css-ytndpy {
    padding: 0.25rem;
    margin-bottom: 0.75rem;
}

.css-1pcimlv {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0.25rem;
    margin-bottom: 2.25rem;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 1rem;
    background-color: white;
}

.css-1pcimlv >a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0.75rem;
    gap: 0.75rem;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 1rem;
    color: hsl(0, 0%, 43.5%);
    cursor: pointer;
}

.css-1pcimlv >a:hover {
    color: hsl(0, 0%, 9.0%);
    background-color: hsl(0, 0%, 90.9%);
}

.css-1pcimlv >a .icon {
    font-size: 1.5rem;
    line-height: 2rem;
}

.css-1pcimlv >a .name {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.css-imybzh {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0.25rem;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 1rem;
    background-color: white;
}

.css-imybzh a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0.75rem;
    gap: 0.75rem;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 1rem;
    color: hsl(0, 0%, 43.5%);
    cursor: pointer;
}

.css-imybzh a:hover {
    color: hsl(0, 0%, 9.0%);
    background-color: hsl(0, 0%, 90.9%);
}

.css-imybzh a .icon {
    font-size: 1.5rem;
    line-height: 2rem;
}

.css-imybzh a .name {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.css-i6bazn {
    overflow: hidden;
}