@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url(reset.css);

:root {
  --white: #d9dede;
  --black: #0d0d0d;
  --light-black: #262626;
  --light-white: #eeeded;
  --red: #ee2d2d;
  --wine: #a11d21;

  --font-principal: "Montserrat", sans-serif;
  --font-secundaria: "Lato", sans-serif;
}

.Resaltador {
  color: var(--red);
}

body {
  font-family: var(--font-principal);
  background-color: var(--white);
  color: var(--black);
  min-height: 100vh;
  font-size: 100%;
  font-weight: 500;
}

.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--white);
  box-shadow: 0 2px 16px hsla(220, 32%, 8%, 0.3);
  z-index: 100;
}

.navbar {
  height: 3.5rem;
}

& .navbar_logo,
.navbar_burger,
.navbar_close {
  color: var(--black);
}

.navbar__data {
  height: 100%;
  width: 100%; /* Ajustar el tamaño al 100%*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar_logo {
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
  font-weight: 600;
  /* Color highlighting when pressed on mobile devices */
  /*-webkit-tap-highlight-color: transparent;*/

  & i {
    font-weight: initial;
    font-size: 1.25rem;
  }
}

.toggle__wrapper {
  display: flex;
  align-items: center;
  font-weight: 600;
}
.darkmode__toggle {
  color: var(--black);
  position: relative;
  width: 32px;
  height: 32px;

  & .sun_mode,
  .moon_mode {
    position: absolute;
    width: max-content;
    height: max-content;
    inset: 0;
    margin: auto;
    font-size: 1.25rem;
    cursor: pointer;
    transition: opacity 0.1s, transform 0.4s;
    color: var(--black);
  }

  & .moon_mode {
    opacity: 0;
  }
}

.navbar__toggle {
  position: relative;
  width: 32px;
  height: 32px;

  & .navbar_burger,
  .navbar_close {
    position: absolute;
    width: max-content;
    height: max-content;
    inset: 0;
    margin: auto;
    font-size: 1.25rem;
    cursor: pointer;
    transition: opacity 0.1s, transform 0.4s;
  }

  & .navbar_close {
    opacity: 0;
  }
}

/* Navigation for mobile devices */
@media screen and (max-width: 1118px) {
  .navbar__menu {
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
  }
  .navbar__menu::-webkit-scrollbar {
    width: 0;
  }
  .menu {
    & .list {
      background-color: var(--white);
      display: flex;
      align-items: center;

      & .link {
        color: var(--black);
        background-color: var(--white);
        font-weight: 600;
        padding: 1.25rem 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: background-color 0.3s;
      }
      & .link::hover {
        background-color: var(--light-black);
      }
    }
  }
}

.navbar__link:hover {
  background-color: var(--black-color-light);
}

/* Show menu */
.show-menu {
  opacity: 1;
  top: 3.5rem;
  pointer-events: initial;
}

/* Icons */
.DarkOn .sun_mode,
.show-icon .navbar_burger {
  opacity: 0;
  transform: rotate(90deg);
}
.DarkOn .moon_mode,
.show-icon .navbar_close {
  opacity: 1;
  transform: rotate(90deg);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .navbar__menu .list .link {
    padding-inline: 1rem;
  }
}

/* For large devices */
@media screen and (min-width: 1118px) {
  .container {
    margin-inline: auto;
  }
  .navbar {
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar__toggle {
    display: none;
  }
  .navbar .navbar__menu .list {
    height: 100%;
    display: flex;
    width: max-content;
    column-gap: 2rem;
    font-weight: 600;
    & .link {
      height: 100%;
      padding: 0;
      justify-content: initial;
      column-gap: 0.25rem;
    }
    & .link:hover {
      background-color: transparent;
    }
  }
  .navbar__data {
    display: flex;
    align-content: space-around;
  }
}

.main {
  margin: 0 auto;
  width: 100%;
  max-width: 1118px;
  padding: 0 1rem;
}

.member-photo {
  width: 3.5rem;
  border-radius: 50%;
}
.members-cards {
  width: 100%;
  & .members-container {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    background-color: var(--light-white);
  }
}
.members-text {
  padding: 0.25rem;
  margin-bottom: 0.75rem;
}
.member-card {
  display: flex;
  padding: 0.5rem;
  align-items: center;
  justify-content: start;
  & .member-info {
    padding-left: 1rem;
  }
}

.Publicaciones article {
  overflow: hidden;
  position: relative;
  margin-bottom: 1.5rem;
  border-radius: 1rem;
  background-color: var(--light-white);
  transition-property: box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;

  & .thumnail {
    position: relative;
    width: 100%;
    background-color: hsl(0, 0%, 97.3%);
    padding-bottom: 66%;
    & img {
      position: absolute;
      height: 100%;
      width: 100%;
      inset: 0px;
      color: transparent;
    }
  }
  & .content {
    padding: 1rem;

    & .top {
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-align-items: baseline;
      -webkit-box-align: baseline;
      -ms-flex-align: baseline;
      align-items: baseline;
      & .content {
        font-size: 1.25rem;
        line-height: 1.75rem;
      }
    }
    & .date {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 1rem;
      gap: 0.5rem;
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
    & .summary {
      margin-bottom: 1rem;
    }
    & .tags {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      gap: 0.5rem;
    }
  }
}
.etiquetas {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 50px;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 400;
  color: var(--black);
  background-color: var(--white);
  cursor: pointer;
}

.footer {
  font-size: small;
  font-weight: 600;
  padding: 1rem;
  position: sticky;
  bottom: 0;
  left: 0;
}
